

.canvasParentDiv{
  width:300px;
  height:300px;
  display:block;
}

.canvasDiv{
  width:256px;
  height:256px;
  display:flex;
}

/* thebutton */
.thebutton {
    border: none;
    background-color: #333;
}

.thebutton:hover {
    background-color:#444;
}

.horgrp
{
  display:flex;
  height:45px;
  background-color: rgb(43, 224, 107);
}

.horgrp button
{
  border: none;
  background: #333;
}

.thetext{
  color: white;
  background-color: #333;
  font-size: 16px;
  padding-left: 20px;
}

.thespin{
  width:40px;
 }


